/*

we are not gonna style the body, just let the browser handle bg/fg color.
current browser support:
  - https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme

:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
*/
